<%= form_with(model: @friend_request, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :sender_id %>

    <%= f.text_field :sender_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :recipient_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.submit "Create friend request", class: "btn btn-block btn-outline-secondary" %>
<% end %>
