<% was_validated = photo.errors.any? %>

<%= form_with(model: photo, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for caption start -->
  <div class="form-group">
    <% caption_class = "form-control" %>
    <% caption_was_invalid = photo.errors.include?(:caption) %>

    <% if was_validated %>
      <% if caption_was_invalid %>
        <% caption_class << " is-invalid" %>
      <% else %>
        <% caption_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :caption %>
    <!-- Input for caption start -->
    <%= f.text_field :caption, class: caption_class, placeholder: "Enter caption" %>
    <!-- Input for caption end -->
    <% if caption_was_invalid %>
      <% photo.errors.full_messages_for(:caption).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for caption end -->
  <!-- Label and input for image start -->
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = photo.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <!-- Input for image start -->
    <%= f.file_field :image, class: "form-control" %>
    <!-- Input for image end -->
    <% if image_was_invalid %>
      <% photo.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for image end -->
  <!-- Label and input for location start -->
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = photo.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <!-- Input for location start -->
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <!-- Input for location end -->
    <% if location_was_invalid %>
      <% photo.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for location end -->
  <!-- Label and input for owner_id start -->
  <div class="form-group">
    <% owner_class = "form-control" %>
    <% owner_was_invalid = photo.errors.include?(:owner) %>

    <% if was_validated %>
      <% if owner_was_invalid %>
        <% owner_class << " is-invalid" %>
      <% else %>
        <% owner_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :owner_id %>
    <!-- Input for owner_id start -->
    <%= f.number_field :owner_id, class: owner_class, placeholder: "Enter owner" %>
    <!-- Input for owner_id end -->
    <% if owner_was_invalid %>
      <% photo.errors.full_messages_for(:owner).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for owner_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
