<div class="card mb-3">
  <h2 class="card-header h4">
    Friend Request #<%= friend_request.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sender</dt>
      <dd>
        <% if @friend_request.sender.present? %>
          <%= link_to friend_request.sender, friend_request.sender %>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd>
        <% if @friend_request.recipient.present? %>
          <%= link_to friend_request.recipient, friend_request.recipient %>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd><%= friend_request.status %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back friend_request, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @friend_request.sender %>
          <%= link_to edit_friend_request_url(friend_request), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @friend_request.sender %>
          <%= link_to friend_request, method: :delete, data: { confirm: "Do you really want to delete this friend_request?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(friend_request.updated_at) %> ago
  </div>
</div>
